body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../img/fundoinstituto.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	width: 60%;
	max-width: 400px;
	border-radius: 12px;
	overflow: hidden;
	padding: 30px;
	text-align: center;
}

.header {
	padding: 10px 20px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}

.logo img {
	height: 80px;
}

h2 {
	color: #343a40;
	margin-bottom: 20px;
	font-weight: 600;
}

.form-group {
	margin-bottom: 20px;
	text-align: left;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
	color: #495057;
}

.form-group input {
	width: 100%;
	padding: 12px;
	border-radius: 8px;
	border: 1px solid #ced4da;
	box-sizing: border-box;
	font-size: 16px;
	transition: border-color 0.3s;
}

.form-group input:focus {
	border-color: #007bff;
	outline: none;
}

.form-container {
	padding: 20px;
	text-align: left;
}

.form-container label {
	display: block;
	margin: 10px 0 5px;
	font-weight: 500;
	color: #495057;
}

.form-container select,
.form-container input[type="time"] {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #ced4da;
	border-radius: 8px;
	box-sizing: border-box;
	font-size: 16px;
	transition: border-color 0.3s;
}

.form-container select:focus,
.form-container input[type="time"]:focus {
	border-color: #007bff;
	outline: none;
}
    
.form-container button {
	background-color: #5144ff;
	border: none;
	padding: 12px;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	font-size: 16px;
	width: 100%;
	font-weight: 600;
}

.form-container button:hover {
	background-color: #3d3bff;
	transform: translateY(-2px);
}

.error-message {
	color: red;
	font-weight: bold;
	margin-top: 10px;
	text-align: left;
}

button {
	background-color: #5144ff;
	border: none;
	padding: 12px;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	font-size: 16px;
	width: 100%;
	margin-top: 10px;
	font-weight: 600;
}

button:hover {
	background-color: #3d3bff;
	transform: translateY(-2px);
}

.time-display {
	margin: 20px 0;
	font-size: 1.5em;
	font-weight: bold;
	background: linear-gradient(45deg, #00ffFf, #0000Ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: #ffd700;
}

.registration-message {
	margin: 15px 0;
	font-size: 14px;
}

.registration-link {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 20px;
	color: blue;
	border-radius: 25px;
	text-decoration: none;
	font-weight: bold;
	transition: transform 0.3s;
}

.registration-link:hover {
	background-color: white;
	transform: scale(1.05);
}

.tabs {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
	padding: 0 20px;
}

.tab-button {
	background: none;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	transition: background-color 0.3s, transform 0.3s;
	font-weight: bold;
}

.tab-button.active {
	border-bottom: 2px solid #000;
}

.tab-button:hover {
	background-color: #e0e0e0;
	transform: scale(1.05);
}

.qrcode-container {
	margin-top: 30px;
}

.qrcode-container img {
	width: 200px;
	height: 200px;
}